.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.btn-change-avatar {
    margin: 0 auto;
    max-width: 70%;
    margin-top: 10px;
    background-color: #FFA500;
    border-color: #FFA500;
    border-radius: 50px;
    height: 40px;
    color: #FFF;
    border-style: solid;
}

.btn-change-avatar:hover {
    background-color: #fdb227;
    border-color: #fdb227;
    cursor: pointer;
}
