.container-customer{
    margin-top: 20px;
}

h2 {
    color: orange;

}

.btn-add{
    border: orange solid !important;
    background-color: orange !important;
}

.btn-add:hover{
    background-color: rgb(253, 175, 30) !important;
    border-color: rgb(253, 175, 30) !important;
}